<!DOCTYPE html>
<html>

<body>
  
  <div class="table-container">
    
    <h1> LIST OF EMPLOYEES </h1>
    <div class="sort-container">
      <select [(ngModel)]="selectedSortCategory" class="sort-select">
        <option value="salaryDesc">Highest to Lowest</option>
        <option value="salaryAsc">Lowest to Highest</option>
      </select>
      
      &nbsp; &nbsp;<button (click)="sortEmployeesBySelectedCategory()" class="sort-button">
        Sort by Salary
      </button>
    </div>
    
    <table>
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Department</th>
          <th>Salary (in Rs)</th>
        </tr>
      </thead>
      

     <tbody>
      <tr *ngFor="let employee of employees">
        <td> {{employee.id}}</td>
        <td> {{employee.firstName}}</td>
        <td> {{employee.lastName}}</td>
        <td> {{ employee.dob}}</td>
        <td> {{employee.department}}</td>
        <td> {{employee.salary}}</td>
        </tr>
        
     </tbody>
    </table>
<div class="NavigationPage"> 
  
  <button (click)="getPreviousPage()" class="prev-page-button">
  <i class="fas fa-backward"></i> 
</button>

<!-- Font Awesome icon for next page -->
<button (click)="getNextPage()" class="next-page-button">
  <i class="fas fa-forward"></i> 
</button></div>
   
  </div>
</body>

</html>
