body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .table-container {
    overflow-x: auto;
    box-shadow: 0 0 30px 0 #181917;
    justify-content: center;
    background-color: #d7d7d7;
    margin-top: 5%;
  }
  .sort-container {
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .sort-select {
    padding: 5px;
    font-size: 14px;
  }
  
  .sort-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .sort-button:hover {
    background-color: #66ad7c;
  }
  
  .NavigationPage {
    text-align: center; /* Center align the content */
    margin-top: 20px; /* Add some top margin for spacing */
  }
  
  
  .NavigationPage button {
    margin: 0 5px; /* Add some space between the buttons */
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor to pointer on hover */
  }
  
  .NavigationPage button:hover {
    color: rgb(129, 213, 186); /* Change text color on hover */
  }
  .table-container h1{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: wavy;
    text-shadow: #1f201f;
    font-weight: 200;

  }
  table {
    width: 950px;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th{
    padding:15px;
    border: 1px solid #ddd;
    text-align: left;
    background-color: #1f201f;
    color:aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;

  }

  
  td {
    padding:10px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 14px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  tr:nth-child(even) {
    background-color: #fcf8f8;
  }

  tr:nth-child(odd) {
    background-color: #c9c9ca;
  }

  tr:hover {
    background-color: #87a8d5; /* Change the color on hover as per your preference */
  }